<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>slice093_93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,90}</string>
                <key>spriteSourceSize</key>
                <string>{95,90}</string>
                <key>textureRect</key>
                <string>{{3,164},{95,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice096_96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,123}</string>
                <key>spriteSourceSize</key>
                <string>{82,123}</string>
                <key>textureRect</key>
                <string>{{3,78},{82,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice109_@.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,118}</string>
                <key>spriteSourceSize</key>
                <string>{126,118}</string>
                <key>textureRect</key>
                <string>{{135,3},{126,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice110_@.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,101}</string>
                <key>spriteSourceSize</key>
                <string>{100,101}</string>
                <key>textureRect</key>
                <string>{{130,125},{100,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice111_@.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,104}</string>
                <key>spriteSourceSize</key>
                <string>{116,104}</string>
                <key>textureRect</key>
                <string>{{265,3},{116,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice112_@.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,83}</string>
                <key>spriteSourceSize</key>
                <string>{115,83}</string>
                <key>textureRect</key>
                <string>{{385,3},{115,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice113_@.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,111}</string>
                <key>spriteSourceSize</key>
                <string>{69,111}</string>
                <key>textureRect</key>
                <string>{{265,111},{69,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice114_@.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,115}</string>
                <key>spriteSourceSize</key>
                <string>{63,115}</string>
                <key>textureRect</key>
                <string>{{385,90},{63,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice115_@.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,105}</string>
                <key>spriteSourceSize</key>
                <string>{81,105}</string>
                <key>textureRect</key>
                <string>{{380,157},{81,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slice86_86.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,71}</string>
                <key>spriteSourceSize</key>
                <string>{128,71}</string>
                <key>textureRect</key>
                <string>{{3,3},{128,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slice94_94.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{84,90}</string>
                <key>textureRect</key>
                <string>{{235,184},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>actions.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12341c9b2987060cb307b5d627cfda9c:3a52cd1b705213d3595ad0e19307089a:0621feea528a06c7f224aac36acba7c8$</string>
            <key>textureFileName</key>
            <string>actions.png</string>
        </dict>
    </dict>
</plist>
